<div class="form-group">
  <label>
    {{label}}
  </label>
  <div class="form-fields">
    <span class="{{type}} damage instance color" data-tooltip="{{name}}">
      {{damage}}
      <i class="fa-solid fa-{{icon}} icon" inert=""></i>
    </span>
  </div>
</div>